<h1>My tasks</h1>
  <% @tasks.each do |task| %>
  <p>
  <% if task.completed == true %>
    <%= fa_icon('check-square') %>
  <% else %>
    <%= fa_icon('square') %>
  <% end %>
  <%= link_to task.title, task_path(task) %>
  <%= link_to fa_icon('trash'), task_path(task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  </p>
  <% end %>
<br>
<p><%= link_to fa_icon('plus', text: " Add a new task"), new_task_path%></p>
